<footer class="footer">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <!-- Logo and Contact Info -->
        <div class="col-xl-4 col-md-6 col-lg-4">
          <div class="footer_widget">
            <div class="footer_logo">
              <a href="#">
                <img src="assets/assets2/img/logoarabe.png" alt="Tunisia4You Logo">
              </a>
            </div>
            <p>
              Tunisia4You <br>
              <a href="tel:+21623456789">+216 23456789</a> <br>
              <a href="mailto:info@tunisia4you.com">info.tunisia4you.com</a>
            </p>
            <div class="social_links">
              <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Quick Links -->
        <div class="col-xl-2 col-md-6 col-lg-2">
          <div class="footer_widget">
            <h3 class="footer_title">Quick Links</h3>
            <ul class="links">
              <li><a href="index.html">Home</a></li>
              <li><a href="explorer.html">Explore</a></li>
              <li><a href="avis.html">Reviews</a></li>
              <li><a href="favoris.html">Favorites</a></li>
              <li><a href="connexion.html">Join Us</a></li>
            </ul>
          </div>
        </div>

        <!-- Popular Activities -->
        <div class="col-xl-3 col-md-6 col-lg-3">
          <div class="footer_widget">
            <h3 class="footer_title">Popular Activities</h3>
            <ul class="links">
              <li><a href="#">Camping in Ain Drahem</a></li>
              <li><a href="#">Camel Trekking in Douz</a></li>
              <li><a href="#">Scuba Diving in Tabarka</a></li>
              <li><a href="#">Skydiving in Tozeur</a></li>
              <li><a href="#">International Festival in Carthage</a></li>
            </ul>
          </div>
        </div>

        <!-- Recent Trips -->
        <div class="col-xl-3 col-md-6 col-lg-3">
          <div class="footer_widget">
            <h3 class="footer_title">Recent Trips</h3>
            <ul class="links">
              <li><a href="#">Sidi Bou Said</a></li>
              <li><a href="#">Douz - Sahara</a></li>
              <li><a href="#">Tabarka - Crystal Waters</a></li>
              <li><a href="#">Djerba - Island of Dreams</a></li>
              <li><a href="#">Hammamet - Golden Beaches</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom text-center">
    <p>&copy; 2025 Tunisia4You. All rights reserved. Designed by <a href="#">TEK-UP</a>.</p>
  </div>
</footer>