<header>
    <div class="header-area">
      <div id="sticky-header" class="main-header-area">
        <div class="container-fluid">
          <div class="header_bottom_border">
            <div class="row align-items-center">
              <!-- Logo -->
              <div class="col-lg-3">
                <div class="logo">
                  <a href="index.html">
                    <img src="assets/assets2/img/logo.png" alt="Tunisia4You Logo" class="navbar-logo" style="width: 120px; height: 60px;">
                  </a>
                </div>
              </div>
              <!-- Navigation Menu -->
              <div class="col-lg-9">
                <div class="main-menu d-none d-lg-block">
                  <nav>
                    <ul id="navigation">
                      <li><a class="active" routerLink="index"><i class="fa fa-home"></i> Home</a></li>
                      <li><a href="explorer.html"><i class="fas fa-compass"></i> Explore</a></li>
                      <li><a href="avis.html"><i class="fa fa-comments"></i> Reviews</a></li>
                      <li><a href="favoris.html"><i class="fa fa-heart"></i> Favorites</a></li>
                      <li><a routerLink="login"><i class="fas fa-users"></i> Join US</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
              <!-- Mobile Menu -->
              <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
