<header>
  <div class="header-area">
    <div id="sticky-header" class="main-header-area">
      <div class="container-fluid">
        <div class="header_bottom_border">
          <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-lg-3">
              <div class="logo">
                <a href="index.html">
                  <img
                    src="assets/assets2/img/logo.png"
                    alt="Tunisia4You Logo"
                    class="navbar-logo"
                    style="width: 200px; height: 80px"
                  />
                </a>
              </div>
            </div>
            <!-- Navigation Menu -->
            <div class="col-lg-9">
              <div class="main-menu d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li>
                      <a class="active" routerLink=""
                        ><i class="fa fa-home"></i> Home</a
                      >
                    </li>
                    <li>
                      <a routerLink="explore"
                        ><i class="fas fa-compass"></i> Explore</a
                      >
                    </li>
                 
                    <li>
                      <a routerLink="lists"
                        ><i class="fa fa-heart"></i> Listes
                      </a>
                    </li>
                    <li>
                      <a *ngIf="!isLoggedIn" routerLink="login"
                        ><i class="fas fa-users"></i> Join US</a
                      >
                    </li>

                    <li *ngIf="isAdmin" class="dropdown">
                      <a href="#"
                        ><i class="fas fa-tools"></i> Dashboard
                        <i class="fas fa-caret-down"></i
                      ></a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="admin/users"
                            ><i class="fas fa-user-cog"></i> Users</a
                          >
                        </li>
                        <li>
                          <a href="admin/tags"
                            ><i class="fas fa-tags"></i> Tags</a
                          >
                        </li>
                        <li>
                          <a href="admin/places"
                            ><i class="fas fa-map-marker-alt"></i> Places</a
                          >
                        </li>
                        <li>
                          <a href="admin/reports"
                            ><i class="fas fa-map-marker-alt"></i> Reports</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a *ngIf="isLoggedIn" routerLink="profile"
                        ><i class="fas fa-user"></i>
                      </a>
                    </li>
                    <li>
                      <a *ngIf="isLoggedIn" (click)="logout()"
                        ><i class="fas fa-sign-out-alt"></i>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- Mobile Menu -->

            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
/>
