

<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider d-flex align-items-center slider_bg_1 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Sidi Bou Said</h3>
                            <p>Le bleu et le blanc, une harmonie méditerranéenne intemporelle.</p>
                            <a href="#" class="boxed-btn3">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center slider_bg_2 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Djerba</h3>
                            <p>L’île des rêves et des traditions millénaires.</p>
                            <a href="#" class="boxed-btn3">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single_slider d-flex align-items-center slider_bg_3 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Médina de Tunis</h3>
                            <p>Un voyage dans le temps au cœur de l’histoire et de l’artisanat.</p>
                            <a href="#" class="boxed-btn3">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single_slider d-flex align-items-center slider_bg_4 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Sousse</h3>
                            <p>La perle du Sahel, entre plages dorées et médina vibrante.</p>
                            <a href="#" class="boxed-btn3">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center slider_bg_5 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Tabarka</h3>
                            <p>Entre mer et montagnes, un paradis pour les amoureux de la nature.</p>
                            <a href="#" class="boxed-btn3">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center slider_bg_6 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Bizerte</h3>
                            <p>Le charme du nord, entre port pittoresque et plages sauvages.</p>
                            <a href="#" class="boxed-btn3">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center slider_bg_7 overlay">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Hammamet</h3>
                            <p>Le charme du nord, entre port pittoresque et plages sauvages.</p>
                            <a href="#" class="boxed-btn3">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="travel_variation_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single_travel text-center">
                    <div class="icon">
                        <i class="fas fa-search fa-3x red-icon "></i>
                    </div>
                    <h3>Filtres avancés</h3>
                    <p>Recherchez des lieux selon vos préférences : ambiance, accessibilité, prix et bien plus.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_travel text-center">
                    <div class="icon">
                        <i class="fas fa-star fa-3x red-icon "></i>
                    </div>
                    <h3>Avis et recommandations</h3>
                    <p>Découvrez des endroits qui correspondent à vos goûts grâce aux notes et avis des utilisateurs.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_travel text-center">
                    <div class="icon">
                        <i class="fas fa-map-marker-alt fa-3x red-icon "></i>
                    </div>
                    <h3>Découverte des lieux tendance</h3>
                    <p>Explorez les meilleurs endroits en Tunisie, mis en avant selon les tendances actuelles.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_travel text-center">
                    <div class="icon">
                        <i class="fas fa-users fa-3x red-icon "></i>
                    </div>
                    <h3>Communauté active</h3>
                    <p>Partagez vos expériences, échangez avec d'autres utilisateurs et créez des listes personnalisées.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">







<div class="popular_places_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>Popular Places</h3>
                    <p>Discover the most iconic destinations in Tunisia, from historical landmarks to breathtaking natural wonders.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="assets/assets2/img/place/1.png" alt="">
                        <a href="#" class="prise">Mahdia</a>
                    </div>
                    <div class="place_info">
                        <a href="destination_details.html"><h3>The Amphitheatre of El Jem</h3></a>
                        <p>It is a town in Tunisia, famous for its well-preserved Roman amphitheater, one of the largest in the world</p>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="assets/assets2/img/place/2.png" alt="">
                        <a href="#" class="prise">Béja</a>

                    </div>
                    <div class="place_info">
                        <a href="destination_details.html"><h3>Dougga</h3></a>
                        <p>The most impressive archaeological sites in Tunisia. It has been added to the UNESCO World Heritage List since 1997</p>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="assets/assets2/img/place/3.jpg" alt="">
                        <a href="#" class="prise">Zaghouan</a>

                    </div>
                    <div class="place_info">
                        <a href="destination_details.html"><h3>Zaghouan medina</h3></a>
                        <p>
                            A culturally rich and original village</p>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="assets/assets2/img/place/4.png" alt="">
                        <a href="#" class="prise">Kairouan</a>
                    </div>
                    <div class="place_info">
                        <a href="assets/assets2/destination_details.html"><h3>the Mosque of Uqba (جامع عقبة بن نافع)</h3></a>
                        <p>A mosque situated in the UNESCO World Heritage town </p>
                  
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="assets/assets2/img/place/5.png" alt="">
                        <a href="#" class="prise">Tozeur</a>

                    </div>
                    <div class="place_info">
                        <a href="destination_details.html"><h3>Chebika Oasis</h3></a>
                        <p>United State of America</p>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_place">
                    <div class="thumb">
                        <img src="assets/assets2/img/place/6.png" alt="">
                        <a href="#" class="prise">Ain drahem - jendouba</a>
                    </div>
                    <div class="place_info">
                        <a href="destination_details.html"><h3>The waterfall of Beni M’tir</h3></a>
                        <p>Between forest and dam lake, Beni M’tir is an exceptional site for a stay in the middle of nature.

                          
                            </p>
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="more_place_btn text-center">
                    <a class="boxed-btn4" href="#">More Places</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="best-places-area">
    <div class="container">
        <div class="section-title text-center mb-5">
          <h3>Best Restaurants & Cafés</h3>
          <p>Discover the top-rated places to eat and relax in Tunisia.</p>
        </div>
        <div class="row">
          <!-- Single Place -->
          <div class="col-lg-4 col-md-6">
            <div class="single-place">
              <div class="thumb">
                <img src="assets/assets2/img/restau/plaza.png" alt="Restaurant 1">
              </div>
              <div class="place-info">
                <h4>Plaza Corniche - Marsa
                </h4>
                <p>A modern restaurant offering a mix of international and Mediterranean cuisine in a stylish setting.</p>
              </div>
            </div>
          </div>
          <!-- Single Place -->
          <div class="col-lg-4 col-md-6">
            <div class="single-place">
              <div class="thumb">
                <img src="assets/assets2/img/restau/didon.png" alt="Restaurant 2">
              </div>
              <div class="place-info">
                <h4>Villa Didon - Carthage</h4>
                <p>Enjoy breathtaking views of the sea while savoring gourmet dishes in this iconic Carthage café.</p>
              </div>
            </div>
          </div>
          <!-- Single Place -->
          <div class="col-lg-4 col-md-6">
            <div class="single-place">
              <div class="thumb">
                <img src="assets/assets2/img/restau/panorama.jpg" alt="Restaurant 3">
              </div>
              <div class="place-info">
                <h4>Café Panorama - Tunis</h4>
                <p>Relax with traditional Tunisian dishes and enjoy stunning panoramic views of the city.</p>
              </div>
            </div>
          </div>
          <!-- Single Place -->
          <div class="col-lg-4 col-md-6">
            <div class="single-place">
              <div class="thumb">
                <img src="assets/assets2/img/restau/hammamet.jpg" alt="Restaurant 4">
              </div>
              <div class="place-info">
                <h4>Café Sidi Bouhdid - Hammamet</h4>
                <p>Located near the beach, this café offers authentic Tunisian vibes and a relaxing atmosphere.</p>
              </div>
            </div>
          </div>
          <!-- Single Place -->
          <div class="col-lg-4 col-md-6">
            <div class="single-place">
              <div class="thumb">
                <img src="assets/assets2/img/restau/Djerba.jpg" alt="Restaurant 5">
              </div>
              <div class="place-info">
                <h4>El Fondouk - Djerba</h4>
                <p>A chic restaurant in Djerba offering a fusion of modern and traditional Tunisian cuisine.</p>
              </div>
            </div>
          </div>
          <!-- Single Place -->
          <div class="col-lg-4 col-md-6">
            <div class="single-place">
              <div class="thumb">
                <img src="assets/assets2/img/restau/716.png" alt="Restaurant 6">
              </div>
              <div class="place-info">
                <h4>Café Resto The 716</h4>
                <p>A cozy café, perfect for enjoying local dishes and a warm ambiance.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="popular_destination_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>Popular Activities</h3>
                    <p>Explore the most exciting activities Tunisia has to offer, from breathtaking adventures to cultural experiences.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="assets/assets2/img/activity/camping.jpg" alt="Camping">
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center">Camping <a href=""> El Mrij / Ain Drahem </a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="assets/assets2/img/activity/camel.png" alt="Camel Trekking">
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center">Camel Trekking <a> Douz</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="assets/assets2/img/activity/divingtabarka.jpg" alt="Scuba Diving">
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center">Scuba Diving <a> Tabarka</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="assets/assets2/img/activity/pirate.png" alt="Pirate Ship">
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center">Pirate Ship <a> Djerba</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="assets/assets2/img/activity/sky.png" alt="Skydiving">
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center">Skydiving <a> Tozeur</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_destination">
                    <div class="thumb">
                        <img src="assets/assets2/img/activity/festival.png" alt="International Festival">
                    </div>
                    <div class="content">
                        <p class="d-flex align-items-center">International Festival <a href="travel_destination.html"> Carthage</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="best-hotels-area">
    <div class="container">
        <div class="section-title text-center mb-5">
            <h3>Best Hotels in Tunisia</h3>
            <p>Discover the most luxurious and comfortable hotels for your stay in Tunisia.</p>
        </div>
        <div class="row">
            <!-- Hotel 1 -->
            <div class="col-lg-4 col-md-6">
                <div class="single-place">
                    <div class="thumb">
                        <img src="assets/assets2/img/hotel/badira.jpg" alt="Hotel 1">
                    </div>
                    <div class="place-info">
                        <h4>La Badira - Hammamet</h4>
                        <p>A luxurious 5-star hotel offering stunning sea views and world-class amenities.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hotel 2 -->
            <div class="col-lg-4 col-md-6">
                <div class="single-place">
                    <div class="thumb">
                        <img src="assets/assets2/img/hotel/hasd.jpg" alt="Hotel 2">
                    </div>
                    <div class="place-info">
                        <h4>Hasdrubal Thalassa - Djerba</h4>
                        <p>Experience ultimate relaxation with spa treatments and beachfront luxury.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hotel 3 -->
            <div class="col-lg-4 col-md-6">
                <div class="single-place">
                    <div class="thumb">
                        <img src="assets/assets2/img/hotel/move.webp" alt="Hotel 3">
                    </div>
                    <div class="place-info">
                        <h4>Mövenpick Hotel - Sousse</h4>
                        <p>Enjoy modern comfort and exceptional service in the heart of Sousse.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hotel 4 -->
            <div class="col-lg-4 col-md-6">
                <div class="single-place">
                    <div class="thumb">
                        <img src="assets/assets2/img/hotel/four.jpg" alt="Hotel 4">
                    </div>
                    <div class="place-info">
                        <h4>Four Seasons - Tunis</h4>
                        <p>A blend of luxury and elegance with breathtaking views of the Mediterranean.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hotel 5 -->
            <div class="col-lg-4 col-md-6">
                <div class="single-place">
                    <div class="thumb">
                        <img src="assets/assets2/img/hotel/ibero.jpg" alt="Hotel 5">
                    </div>
                    <div class="place-info">
                        <h4>Iberostar Kuriat - Monastir</h4>
                        <p>An all-inclusive resort offering a perfect mix of relaxation and entertainment.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hotel 6 -->
            <div class="col-lg-4 col-md-6">
                <div class="single-place">
                    <div class="thumb">
                        <img src="assets/assets2/img/hotel/anatara.jpg" alt="Hotel 6">
                    </div>
                    <div class="place-info">
                        <h4>Anantara Sahara - Tozeur</h4>
                        <p>Experience the ultimate luxury in the heart of the Sahara.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="testimonial_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section_title text-center mb-5">
                    <h3>What Our Visitors Say</h3>
                    <p>Discover the experiences shared by our visitors who explored Tunisia's beauty and culture.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <!-- Testimonial 1 -->
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <div class="author_thumb">
                                        <img src="assets/assets2/img/testmonial/author.png" alt="Visitor 1">
                                    </div>
                                    <p>"Exploring Tunisia was a life-changing experience. The culture, the food, and the people were absolutely amazing!"</p>
                                    <div class="testmonial_author">
                                        <h3>- Sarah Johnson</h3>
                                        <span>Traveler from USA</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial 2 -->
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <div class="author_thumb">
                                        <img src="assets/assets2/img/testmonial/v1.png" alt="Visitor 2">
                                    </div>
                                    <p>"The breathtaking landscapes and historical sites in Tunisia left me speechless. Highly recommended!"</p>
                                    <div class="testmonial_author">
                                        <h3>- James Smith</h3>
                                        <span>Photographer from UK</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial 3 -->
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <div class="author_thumb">
                                        <img src="assets/assets2/img/testmonial/v3.png" alt="Visitor 3">
                                    </div>
                                    <p>"Tunisia is a hidden gem! From the Sahara desert to the Mediterranean beaches, every moment was unforgettable."</p>
                                    <div class="testmonial_author">
                                        <h3>- Maria Lopez</h3>
                                        <span>Travel Blogger from Spain</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="recent_trip_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center mb_70">
                    <h3>Recent Trips in Tunisia</h3>
                    <p>Explore the beauty of Tunisia through our recent trips to its most iconic destinations.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Trip 1 -->
            <div class="col-lg-4 col-md-6">
                <div class="single_trip">
                    <div class="thumb">
                        <img src="assets/assets2/img/trip/1.png" alt="Sidi Bou Said">
                    </div>
                    <div class="info">
                        <div class="date">
                            <span>March 15, 2025</span>
                        </div>
                        <a href="#">
                            <h3>Discover the Blue and White Charm of Sidi Bou Said</h3>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Trip 2 -->
            <div class="col-lg-4 col-md-6">
                <div class="single_trip">
                    <div class="thumb">
                        <img src="assets/assets2/img/trip/douz.jpg" alt="Douz">
                    </div>
                    <div class="info">
                        <div class="date">
                            <span>February 20, 2025</span>
                        </div>
                        <a href="#">
                            <h3>Experience the Magic of the Sahara in Douz</h3>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Trip 3 -->
            <div class="col-lg-4 col-md-6">
                <div class="single_trip">
                    <div class="thumb">
                        <img src="assets/assets2/img/trip/tabarka.jpg" alt="Tabarka">
                    </div>
                    <div class="info">
                        <div class="date">
                            <span>January 10, 2025</span>
                        </div>
                        <a href="#">
                            <h3>Dive into the Crystal Waters of Tabarka</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





