<div class="places-container">
  <h2>📍 Gestion des Places</h2>

  <!-- Ajouter une nouvelle place -->
  <div class="form-group add-place-form">
    <input [(ngModel)]="newPlace.name" placeholder="Nom de la place" class="form-control" />
    <input [(ngModel)]="newPlace.category" placeholder="Catégorie" class="form-control mt-2" />
    <textarea [(ngModel)]="newPlace.description" placeholder="Description" class="form-control mt-2"></textarea>
    <input [(ngModel)]="newPlace.address" placeholder="Adresse" class="form-control mt-2" />
    <input [(ngModel)]="newPlace.phoneNumber" placeholder="Numéro de téléphone" class="form-control mt-2" />

    <h5 class="mt-3">🕐 Horaires d'ouverture</h5>
    <input [(ngModel)]="newPlace.openingHours['Lundi']" placeholder="Lundi" class="form-control mt-2" />
    <input [(ngModel)]="newPlace.openingHours['Mardi']" placeholder="Mardi" class="form-control mt-2" />
    <input [(ngModel)]="newPlace.openingHours['Mercredi']" placeholder="Mercredi" class="form-control mt-2" />
    <label class="mt-3">🏷️ Tags :</label>
    <ul>
      <li *ngFor="let tag of tags">{{ tag.libelle }}</li>
    </ul>
    
    <p>Tags sélectionnés : {{ newPlace.tags | json }}</p>
    





    <label class="mt-3">🖼️ Images :</label>
    <input [(ngModel)]="newPlace.images" placeholder="Lien(s) des images (séparés par virgules)" class="form-control mt-2" />

    <button (click)="addPlace()" class="btn-add-place">Ajouter</button>
  </div>

  <!-- Affichage des places comme des posts Instagram -->
  <div class="places-grid">
    <div class="place-card" *ngFor="let place of places">
      <div class="place-img" *ngIf="place.images">
        <img [src]="place.images[0]" alt="{{ place.name }}" />
      </div>
      <div class="place-content">
        <h3>{{ place.name }}</h3>
        <p class="category">📌 {{ place.category }}</p>
        <p class="desc">{{ place.description }}</p>
        <p class="tags">
          <span *ngFor="let tag of place.tags">#{{ tag }} </span>
        </p>
        <div class="place-actions">
          <button (click)="editPlaceDetails(place)" class="btn edit">✏️</button>
          <button (click)="deletePlace(place.id)" class="btn delete">🗑️</button>
        </div>
      </div>
    </div>
  </div>
</div>
